<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Burger App</title>

<!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
	<div class="text-center">
		<img src="../../public/assets/images/burger.png" alt="burger" class="burger_image">
	</div>

	<div class="container">

		<div class="row">
			<div class="col-6">
				<h2>To Be Eaten</h2>
				<hr>
				<div id="waiting-list"></div>
			</div>
			<div class="col-6">
				<h2>Devoured</h2>
				<hr>
				<div id="devoured_list"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<p class="cool-font">Add A New Burger To The Menu and Click Submit!</p>
				<textarea class="form-control" rows="3" id="chirp-box" placeholder="Enter Burger Here!"></textarea>
				<button id="chirp-submit" class="btn btn-lg pull-right">Submit!</button>
			</div>
		</div>

	<!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css">

	<!-- jQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script src="/js/view.js"></script>

	{{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}

<div class="view">
	{{{ body }}}
</body>
</html>