<h1>Burgers!</h1>

<ul>
  {{#each plans}}
  <li>
    <p>
      {{this.id}}. {{this.plan}}

      <button data-planid="{{this.id}}" class="delplan">Delete Plan!</button>
    </p>
  </li>
  {{/each}}
</ul>

